---
import Footer from "../components/home/Footer.astro";
import Introduction from "../components/home/Introduction.astro";
import Projects from "../components/home/Projects.astro";
import NavigationBubble from "../components/ui/NavigationBubble.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <NavigationBubble to="/" />
    <Introduction />
    <Projects />
    <Footer />
  </body>
</html>

<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

  * {
    border: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    font-family: "Inter Tight", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;

    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --colab_pink: #ff6dcd;
    --colab_dark-purple: #5a60ea;
    --colab_mild-purple: #7797ff;
    --colab_light-purple: #f0f4ff;
    --colab_orange: #ffa02a;
    --colab_turq: #45dfcd;

    --background-dark: #161616;
    --accent-dark: #232323;
    --text-dark: white;
    --text-accent-00: #868686;
    --text-accent-01: rgb(181, 181, 181);

    --background-light: #ededed;
    --accent-light: #f1f3f4;
    --text-light: black;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: var(--background-dark);
      --accent-color: var(--accent-dark);
      --text-color: var(--text-dark);
      --text-accent: var(--text-accent-01);
    }
  }

  @media (prefers-color-scheme: light) {
    :root {
      --background: var(--background-light);
      --accent-color: var(--accent-light);
      --text-color: var(--text-light);
      --text-accent: var(--text-accent-00);
    }
  }

  a {
    font-weight: 600;
    color: var(--colab_dark-purple);
    text-decoration: inherit;
  }

  h1,
  p {
    margin: 0;
  }

  body {
    background-color: var(--background);
    color: var(--text-color);
    padding: 0rem 0.5rem;
  }

  ul {
    list-style-type: none;
    margin: 0;
  }
</style>
