<footer>
  <div class="divider"></div>

  <div class="footer_details">
    <p>
      Twitter : <a target="_blank" href="https://twitter.com/adedotxn"
        >@adedotxn</a>
    </p>
    <p>
      Linkedin: <a target="_blank" href="https://linkedin.com/in/philip-adewole"
        >Philip Adewole</a
      >
    </p>
    <p>
      Email: <a target="_blank" href="mailto:adedotxn.dev@gmail.com"
        >adedotxn.dev@gmail.com</a
      >
    </p>
    <p>© Philip Adewole.</p>
  </div>
</footer>

<style>
  footer {
    margin-top: 2rem;
  }
  footer > .divider {
    height: 1.5px;
    width: 100%;
    background-color: grey;
  }

  footer div {
    display: grid;
    place-items: center;
  }

  footer div:nth-child(2) {
    margin-top: 0.5rem;
  }

  footer p {
    color: grey;
  }

  footer div a {
    text-decoration: underline;
  }
</style>
