<section>
  <h1 class="name">Philip Adewole</h1>
  <h1 class="title">Frontend <span>(Web)</span> Engineer</h1>
  <p class="bio">
    I am <span>Philip Adewole</span>. I'm a{" "}
    <span>Software Developer</span> from <span>Osun, Nigeria</span>{" "}
    primarily focused on <span>Frontend Engineering</span> on the Web. I work with
    <span>JavaScript/TypeScript</span>,{" "}
    <span>Node & Express</span>, <span>React.js</span>, <span>Next.js</span>{
      " "
    }
    and sometimes <span>Vue.js</span>. <br /> I enjoy and am always interested in
    learning new things, currently looking to learn Java and more about backend technologies
    and embedded systems.
  </p>
</section>

<style>
  .name {
    margin-top: 1rem;
    font-size: 4.5rem;
    line-height: 3.9rem;
    font-weight: 800;
  }

  .title {
    margin: 0.5rem;
    color: var(--text-accent-00);
    font-size: 1.83rem;
  }

  .title span {
    color: var(--text-accent-00);
  }

  .bio {
    font-size: 1.1rem;
    width: 90vw;
    color: var(--text-accent);
  }
  @media (prefers-color-scheme: light) {
    .bio {
      filter: brightness(70%);
    }
  }

  .bio span {
    border-bottom: 1.5px solid var(--colab_turq);
    color: var(--text-color);
  }

  @media screen and (min-width: 768px) {
    .name {
      /* font-size: 5rem; */
      line-height: 3.9rem;
    }

    .title {
      font-size: 2.2rem;
    }
    .bio {
      width: 60ch;
    }
  }
</style>
